.search-container {
    text-align: center;
    margin: 20px 0;
}

.search-container input[type="text"] {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#keywords-container {
    text-align: center;
    margin-top: 20px;
}

#keywords {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

#keywords li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#keywords li:hover {
    background-color: #d3d3d3;
}

#gallery-container {
    height: calc(100vh - 150px);
    overflow-y: auto;
    overflow-x: hidden;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.gallery-image {
    cursor: pointer;
    width: 200px;
    height: auto;
    margin: 10px;
    border-radius: .25em;
    transition: transform 0.3s ease;
}

.gallery-image:hover {
    transform: scale(1.1);
}

canvas {
    display: block;
    margin: 20px auto;
    border-radius: 8px;
}