* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

h1 {
    margin-inline-start: 10px;
}

#title {
    cursor: pointer;
}

.lang {
    margin-inline-end: 10px;
}

.lang select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

nav {
    cursor: pointer;
    background-color: #444;
    text-align: center;
    padding: 10px 0;
    list-style: none;
    color: white;
    margin: 0;
    padding: 10px;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

.search-container {
    text-align: center;
    margin: 20px 0;
}

.search-container input[type="text"] {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.gallery-image {
    cursor: pointer;
    width: 200px;
    height: auto;
    margin: 10px;
    border-radius: .25em;
    transition: transform 0.3s ease;
}

.gallery-image:hover {
    transform: scale(1.1);
}

canvas {
    display: block;
    margin: 20px auto;
}

#editor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0;
    border: 1px solid #ccc;
    padding: 20px;
}

.font-size {
    background-color: lightgrey;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    margin-bottom: 5px;
}

.font-size:hover {
    background-color: rgb(124, 123, 123);
}

#stickers {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.sticker {
    font-size: 24px;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    background-color: #fff;
    border-radius: 5px;
}

#download,
#save {
    cursor: pointer;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    border: none;
}

#download {
    background-color: #007bff;
}

#download:hover {
    background-color: #0056b3;
}

#save {
    background-color: #4CAF50;
}

#save:hover {
    background-color: #45a049;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

dialog {
    position: fixed;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid lightgrey;
    border-radius: 8px;
    padding: 12px;
}

#close-dialog {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#close-dialog:hover {
    background-color: #45a049;
}

@media (min-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }

    #gallery {
        width: 100%;
        margin-bottom: 20px;
    }

    #editor {
        width: 100%;
    }
}

@media (min-width: 900px) {
    .container {
        grid-template-columns: 1fr 2fr;
    }

    #gallery {
        width: auto;
        margin-bottom: 0;
    }

    #editor {
        width: auto;
    }
}