* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

h1{
    margin-inline-start: 10px;
}

#title{
    cursor: pointer;
}

canvas {
    border: 1px solid lightgrey;
}

.gallery-image{
    cursor: pointer;
    width: 200px;
    height: auto;
    margin: 10px;
    border-radius: .25em;
}