* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

h1 {
    margin-inline-start: 10px;
}

#title {
    cursor: pointer;
}

.lang {
    margin-inline-end: 100px;
}

.lang select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-inline-end: 50px;
}

nav {
    cursor: pointer;
    background-color: #444;
    text-align: center;
    padding: 10px 0;
    list-style: none;
    color: white;
    margin: 0;
    padding: 10px;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav li:hover,
nav li.active {
    color: #bdbdbd;
}

.search-container {
    text-align: center;
    margin: 20px 0;
}

.search-container input[type="text"] {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.gallery-image {
    cursor: pointer;
    width: 200px;
    height: auto;
    margin: 10px;
    border-radius: .25em;
    transition: transform 0.3s ease;
}

.gallery-image:hover {
    transform: scale(1.1);
}

canvas {
    display: block;
    margin: 20px auto;
    border-radius: 8px;
}

#editor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0;
    margin-inline-start: 20px;
    border: 1px solid #ccc;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#editor .sticker {
    font-size: 24px;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    background-color: #fff;
    border-radius: 5px;
}

#editor button {
    margin-bottom: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
}

#editor button:hover {
    background-color: #0056b3;
}

#stickers {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#editor .sticker {
    font-size: 24px;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    background-color: #fff;
    border-radius: 5px;
}

#editor .sticker:hover {
    background-color: #f0f0f0;
}

.font-size {
    background-color: lightgrey;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    margin-bottom: 5px;
}

.font-size:hover {
    background-color: rgb(124, 123, 123);
}

#editor #download,
#editor #save {
    cursor: pointer;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    border: none;
}

#editor #download {
    background-color: #007bff;
}

#editor #download:hover {
    background-color: #0056b3;
}

#editor #save {
    background-color: #4CAF50;
}

#editor #save:hover {
    background-color: #45a049;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

dialog {
    position: fixed;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid lightgrey;
    border-radius: 8px;
    padding: 12px;
}

#close-dialog {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#close-dialog:hover {
    background-color: #45a049;
}

.toggle-menu-btn {
    display: none;
}

.toggle-menu-btn i {
    font-size: 24px;
}

@media (min-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }

    #gallery {
        width: 100%;
        margin-bottom: 20px;
    }

    #editor {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .main-nav {
        position: fixed;
        top: 0px;
        right: 0;
        height: auto;
        height: 100vh;
        background-color: rgb(255 255 255 / 90%);
        border-inline-start: 1px solid #ccc;
        min-width: 200px;
        transform: translateX(100%);
        transition: transform 0.6s, box-shadow 0.6s;
    }

    .main-nav.active {
        transform: translateX(0);
    }

    .toggle-menu-btn {
        display: block;
        position: fixed;
        top: 10px;
        right: 20px;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
    }

    .main-nav li {
        display: block;
        margin-bottom: 10px;
        background-color: #ffffff;
        position: relative;
        color: black;
    }

    .main-nav li::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #ccc;
    }
}

@media (min-width: 900px) {
    .container {
        grid-template-columns: 1fr 2fr;
    }

    #gallery {
        width: auto;
        margin-bottom: 0;
    }

    #editor {
        width: auto;
    }
}

#keywords-container {
    margin-top: 20px;
}

#keywords-container ul {
    list-style-type: none;
    padding: 0;
}

#keywords-container li {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#keywords-container li:hover {
    background-color: #e0e0e0;
}

.dragging {
    cursor: grabbing;
}

.not-dragging {
    cursor: default;
}
