.saved-meme {
    width: 200px;
    height: auto;
    margin: 10px;
}

#saved-memes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.saved-meme {
    width: 200px;
    height: auto;
    margin: 10px;
}

.saved-meme img {
    display: block;
    max-width: 100%;
    height: auto;
}

p{
    margin-top: 30px;
}

.delete-btn{
    cursor: pointer;
    padding: 8px;
    border: none;
    border-radius: .25em;
    background-color: rgb(248, 54, 54);
}

.delete-btn:hover{
    background-color: rgb(243, 79, 79);
}



