* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

h1{
    margin-inline-start: 10px;
}

.saved-meme {
    width: 200px;
    height: auto;
    margin: 10px;
}

#saved-memes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.saved-meme {
    width: 200px;
    height: auto;
    margin: 10px;
}

.saved-meme img {
    display: block;
    max-width: 100%;
    height: auto;
}

p{
    margin-top: 30px;
}