footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-auto-flow: column;
    font-family: Shadows;
}

.main-footer {
    height: 80px;
    background-color: RGBA(248, 248, 248, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

small {
    color: rgb(160, 159, 159);
    font-family: Arial, Helvetica, sans-serif;
}