header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

h1 {
    margin-inline-start: 10px;
    font-family: Shadows;
}

#title {
    cursor: pointer;
}

.lang {
    margin-inline-end: 20px;
}

.lang select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-inline-end: 50px;
}

nav {
    cursor: pointer;
    background-color: #444;
    text-align: center;
    padding: 10px 0;
    list-style: none;
    color: white;
    margin: 0;
    padding: 10px;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav li:hover,
nav li.active {
    color: #bdbdbd;
}

.red{
    color: red;
}

.yellow{
    color: yellow;
}

.blue{
    color: blue;
}

.dot {
    font-size: 15px;
    vertical-align: middle;
  }